<!DOCTYPE html>
<html lang="ja">

<head>
    <meta caraset="utf-8">
    <meta name="description" content="プライバシー無視Tシャツ事前登録ページ">
    <meta name="viewport" content="width=320,initial-scale=1">
    <title>mitei</title>
    <link rel="stylesheet" href="top.scss">
</head>

<body>
    <div class="top">
        <!-- <img class="topimage" src="friends.png"> -->
        <!-- <h1>MINNA TOMODACHI</h1> -->
        <!-- <h2>プライバシー無視Tシャツ</h2> -->
        <img class="mintomo" src="mintomo.png">

<%= link_to "LINE Login", "/users/auth/line" %>

        <p>
            aaaaaaaaaaaaaaaプライバシーの重要性が問われるいま
            <br> strenger is danger なのか 常識を打ち砕こう
            <br>
            <a href="karipage">もっと知る＞</a>
        </p>
    </div>
  <!-- ここから -->
    <div class="concept">
        <h3 class="category1">
                <span>無視Ｔについて</span>
            </h3>
        <div class="concept-d">
            <img src="present.png">
            <h3>ギフト機能</h3>
            <p>ギフト機能についての簡単な訴求
                <br>ポイントを書いて</p>
        </div>
        <div class="concept-d">
            <img src="code.png">
            <h3>公開プロフィール</h3>
            <p>QRコードについての簡単な
                <br> 説明を書いておく。
            </p>
        </div>
    </div>
    <!-- ここまで -->
    <!-- ここから -->
    <div class="concept">
        <h3 class="category1">
                <span>無視Ｔのこだわり</span>
            </h3>
        <div class="concept-d">
            <img src="present.png">
            <h3>高品質</h3>
            <p>高品質についての簡単な訴求
                <br>ポイントを書いておく。</p>
        </div>
    </div>
    <!-- ここまで -->
    <!-- ここから -->
     <div class="concept">
        <h3 class="category1">
                <span>無視Ｔのポイント</span>
            </h3>
        <div class="concept-d">
            <img src="present.png">
            <h3>高品質</h3>
            <p>高品質についての簡単な訴求
                <br>ポイントを書いておく。</p>
        </div>
    </div>
    <!-- ここまで -->
     <!-- ここから -->
     <div class="concept">
        <h3 class="category1">
                <span>事前登録の特典</span>
            </h3>
        <div class="concept-d">
            <img src="present.png">
            <h3>高品質</h3>
            <p>高品質についての簡単な訴求
                <br>ポイントを書いておく。</p>
        </div>
    </div>
    <!-- ここまで -->

        <a href="#" class="button">事前登録</a>
        <p>販売通知を受け取る</p>
    </div>
</body>

</html>
