<!DOCTYPE html>
<html lang="ja">
<head>
    <title>ログインページ</title>
    <meta caraset="utf-8">
    <meta name="viewport" content="width=320,initial-scale=1">
    <link rel="stylesheet" href="login.scss">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>

</head>


<body>
<img class="logo" src="">
        <p class="h1">ログインして販売通知を受け取る</h1>
           <div class="container">
           <p class="h2">メールアドレス</p>
            <p class="h2">メールアドレス</p>

       </div>
           <a href="top">home</a>
</body>
</html>
